
<!DOCTYPE html>
<html>
<head>
    <title>Prince Benson Waimai</title>
</head>
<body>
    <h1>Prince
Benson Fusion Restaurant
</h1>
    <p>Your convenience is our duty</p>
 
    <h2>Here are all our items!</h2>
 
    <!-- Item 1 -->
    <p>ice-cream: 12000000000RMB</p>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524459153897&di=b92244dcca0acfd637bf064123c419e7&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201511%2F21%2F20151121204025_BLmri.jpeg">    1   
    <br>

    <!-- Item 2 -->
    <p>crazy food: 7000RMB</p>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524459262846&di=d7a095a162bc2d0ef70c94c9cb91c4ce&imgtype=jpg&src=http%3A%2F%2Fimg4.imgtn.bdimg.com%2Fit%2Fu%3D3879322134%2C3524887805%26fm%3D214%26gp%3D0.jpg">
 
    <!-- Item 3 -->
    <p>VR: 10000RMB</p>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524458966688&di=0bf334709aaa61b69cf6e98dd278fe43&imgtype=0&src=http%3A%2F%2Fbpic.ooopic.com%2F16%2F02%2F01%2F16020133-5c1759ab2e1262055cba1f2a8e8266c8-2.jpg">
 
    <!-- Order Form -->
    <h2>Place your Order</h2>
    <form action="{% url 'waimai:home_page' %}" method=“POST">     2   
        {% csrf_token %}    3   
        <input type="text" name="item" placeholder="Please Type Which Item You Want"><br>     4   
        <textarea name="address" placeholder="Please Type Your Address”></textarea><br>    5   
        <input type="submit" value="Place Your Order”>
    </form>
 
    <!-- Show Order -->
    <h1>Your Order:</h1>
    <p>Item Ordered: {{item}}</p>
    <p>Delivery Address: {{address}}</p>
 
</body>
</html>